# --- ENVIRONMENT VARIABLES TEMPLATE ---
# Скопируйте этот файл в .env и заполните свои значения (для локального запуска).

# Общие настройки приложения
APP_PORT=3000

# Настройки Redis Streams
REDIS_ADDR=redis:6379
WS_STREAM_NAME=chat_stream
WS_GROUP_NAME=chat_group